@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .body {
    display: grid;
    grid-template-columns: 30% 70%; /* Dos columnas en tamaño medio */
  }
}

@media (min-width: 1024px) {
  .body {
    display: grid;
    grid-template-columns: 20% 60% 20%; /* Tres columnas en tamaño grande */
  }
}
